{% extends "base.html" %}

{% block content %}

  <h1>Tech Details</h1>

  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ object.name }}</span>
          <p>Brand: {{ object.brand }}</p>
          <p>Category: {{ object.category }}</p>
          <p>Release Year: {{ object.release_year }}</p>
          <p>Purchase Date: {{ object.purchase_date }}</p>
          <p>Description: {{ object.description }}</p>
        {% if object.working %}
          <p class="green-text">Still working!!</p>
        {% else %}
          <p class="red-text">Oh no, it's broken!!</p>
        {% endif %}
        </div>
        <div class="card-action">
          <a href="{% url 'tech_update' object.id %}">Edit</a>
          <a href="{% url 'tech_delete' object.id %}">Delete</a>
        </div>
      </div>
    </div>
    <div class="col s6">
      <form action="{% url 'add_usage' object.id %}" method="post">
        {% csrf_token %}
        {{ usage_form.as_p }}
        <input type="submit" value="Add Usage Record" class="btn">
      </form>
      <table class="striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          {% for usage in object.usage_set.all %}
          <tr>
            <td>{{ usage.date }}</td>
            <td>
              <a href="{% url 'users_detail' usage.user.id %}">
                {{ usage.user }}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col s6">
        <h4 class="center-align">{{ object }}'s Users</h4>
    {% if object.users.count %}
      {% for user in object.users.all %}
        <div class="card">
          <a href="{% url 'users_detail' user.id %}">
            <div class="card-content">
              <span class="card-title">
                {{ user }}
              </span>
            </div>
          </a>
        </div>
      {% endfor %}
    {% else %}
        <h6 class="center-align">No users linked</h6>
    {% endif %}
    </div>
    <div class="col s6">
        <h4 class="center-align">Unlinked Users</h4>
    {% if unlinked_users.count %}
      {% for user in unlinked_users.all %}
        <div class="card">
          <a href="{% url 'users_detail' user.id %}">
            <div class="card-content">
              <span class="card-title">
                {{ user }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_user' object.id user.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
                <!-- <input type="submit" value="Add" class="btn"> -->
              </form>
            </div>
          </a>
        </div>
      {% endfor %}
    {% else %}
        <h6 class="center-align">{{ object.name }} has all users linked already.</h6>
    {% endif %}
    </div>
  </div>

  <script>
    const dateEl = $("#id_date");
    const selectEl = $("#id_user");

    M.Datepicker.init(dateEl, {
      format: "yyyy-mm-dd",
      default: new Date(),
      setDefault: true,
      autoClose: true,
    });
    M.FormSelect.init(selectEl);
  </script>

{% endblock %}