{% extends "base.html" %}

{% block content %}

{% if object %}
  <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
  <h1>Add Tech</h1>
{% endif %}

  <div class="card form-card">
    <form class="action="" method="post">
      <!-- csrf token needed to submit post requests -->
      {% csrf_token %} 
      <table>
        {{ form.as_table }}
      </table>
      <input class="btn mt-16" type="submit" value="Submit">
    </form>
  </div>

  <script>
    // cached element references
    const dateEl = $("#id_purchase_date");
    const checkboxEl = $("#id_working");
    const checkboxTdEl = checkboxEl.parent();
    const labelEl = $("<label />");

    // makes checkbox compatible with Materialize
    // need to wrap checkbox inside a label for it to be clickable
    checkboxTdEl.append(labelEl);
    checkboxEl.detach().appendTo(labelEl);
    checkboxEl.addClass("filled-in");
    labelEl.append("<span></span>");

    // add a materialize datepicker for purchase date UI
    M.Datepicker.init(dateEl, {
      format: "yyyy-mm-dd",
      default: new Date(),
      setDefault: true,
      autoClose: true
    })

  </script>

{% endblock %}