{% extends "base.html" %}

{% block content %}

  <h1>User Details</h1>

  <div class="card">
    <div class="card-content">
      <span class="card-title">
        {{ object.name }}
      </span>
      <p>Age: {{ object.age }}</p>
      <p>Email: {{ object.email }}</p>
      <p>Phone: {{ object.phone }}</p>
    </div>
    <div class="card-action">
      <a href="{% url 'users_update' user.id %}">Edit</a>
      <a href="{% url 'users_delete' user.id %}">Delete</a>
    </div>
  </div>

{% endblock %}