{% extends "base.html" %}

{% block content %}

  <h1>About the Tech Collector</h1>

  <hr />
  
  <div class="center-align">
    <p>
    Tech Collector provides an easy way to log all of your prized pieces of technology.
    </p>
    <p>
    Using the Tech Collector, you can log the different users of your tech and when they last used them. 
    </p>
    <p>
      You can also store the contact information for the users in case you need to reach out to them. 
    </p>
    <p>
      With the Tech Collector, you can see your usage habits and keep tabs on your tech!
    </p>
  </div>

{% endblock %}
