{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- load Materialize -->
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    </script>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Tech Collector</title>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="{% url 'home' %}" class="left brand-logo">
                &nbsp;&nbsp;Tech Collector&nbsp;&nbsp;
              </a>
            </li>
          </ul>
          <ul class="right">
            <li>
              <a href="{% url 'about' %}">About</a>
            </li>
            <li>
              <a href="{% url 'tech_index' %}">View My Tech</a>
            </li>
            <li>
              <a href="{% url 'tech_create' %}">Add New Tech</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {% block content %} 
      {% endblock %}
    </main>
    <footer class="page-footer">
      <p class="center-align">&copy; 2021 Tech Collector, All Rights Reserved</p>
    </footer>
  </body>
</html>
