body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
}

main {
  flex-grow: 1;
}

footer.page-footer {
  padding-top: 0;
  margin-top: 2rem
}

input.mt-16 {
  margin-top: 1.6rem;
  /* margin-bottom: 1.6rem; */
}

h1 {
  text-align: center;
}

.form-card {
  padding: 0.8rem 2rem 1.6rem 2rem;
}

.card-p {
  color: black;
}