body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
}

main {
  flex-grow: 1;
}

footer {
  padding-top: 0;
  text-align: right;
}

input.btn {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}